

/* SECCIÓN GENERAL */
.section-project {
  width: 100%;
  padding: 50px 0px;
  display: inline-block;
  justify-content: center;
  
}












.project-title {
  max-width: 1200px;
  margin: 0 auto 20px auto;
  padding: 0 40px;

  font-size: 42px;
  font-weight: 800;
  color: #111;

  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease 0.1s;
  
}
.project-title.visible {
  opacity: 1;
  transform: translateY(0);
}





/* CONTAINER */
.container-project {
    display: grid;
  grid-template-columns: 1fr 1.2fr;
  max-width: 1200px;
  margin: auto;

  height: 500px; 
  
  background: #ffffff;
  border: 1px solid #000;
  border-radius: 25px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  

  overflow: hidden; /* MUY IMPORTANTE */

  height: clamp(400px, 60vh, 650px);
 
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .container-project {
    flex-direction: column;
  }
}

/* LEFT */
.left-project {
  padding: 20px;
  padding-right: 40px;
  overflow-y: auto;
  mask-image: linear-gradient(to bottom, black 85%, transparent);
}


.left-project ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.left-project li {
  font-size: 14px;
  color: #444;
  padding-left: 10px;
  position: relative;

  text-align: justify;
  line-height: 1.6;
  hyphens: auto;
}

.negrita{
  font-weight: bolder;
}

/* bullet custom */
.left-project li::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 8px;
  width: 6px;
  height: 6px;
  background: #000;
  border-radius: 50%;
}

/* CAROUSEL */
.carousel-project {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
}

.carousel-project-video {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
}

.carousel-track-project {
  
  display: flex;
  height: 100%;
  width: 100%;
  
}

.slide-project {
 flex: 0 0 100%; 
  height: 100%;
  
}

.slide-project img {
   width: 100%;
  height: 100%;
  object-fit: cover; 
  
}

.media-project {
  
   flex: 0 0 100%; 
  height: 100%;
}


.media-project video {
 width: 100%;
  height: 100%;
  object-fit: cover; 
}

/* ARROWS*/
.arrow-project {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background: rgba(0,0,0,0.6);
  color: white;
  font-size: 20px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: all 0.3s ease;
}

.arrow-project.prev-project {
  left: 12px;
}

.arrow-project.next-project {
  right: 12px;
}

/* HOVER */
.carousel-project:hover .arrow-project {
  opacity: 1;
}

/* MEJOR HOVER */
.arrow-project:hover {
  background: rgba(0,0,0,0.85);
  transform: translateY(-50%) scale(1.1);
}

@media (max-width: 768px) {
  .container-project {
    grid-template-columns: 1fr;
    height: auto;
    margin: 20px;
  }

  .carousel-project {
    height: 250px;
  }

  .left-project {
    overflow: visible;
  }
}